section{
    display: flexbox;
}
.card{
    max-width: 45%;
    border: 2px solid #000;
    border-radius: 15px;
}
.card-title{
    font-size: x-large;
}
.card-id{
    font-size: medium;
}
img{
    max-width: 100%;
}
.noteCategory{
    border-radius: 15px;
    background-color: #9c9c9c;
    margin-left: 10px;
    width: fit-content;
    /*algo para que se vea como en DAI*/
}